<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
      <nav class="light-blue lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
          </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="row center">
    <form action="/books" class="search" method="GET">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search btn waves-effect waves-light"></i></button>
    </form>
    </div>
    </div>
    </div>
  </body>
</html>
